/* 
#33a137 - green
#1f1f1f - 
#cccccc
#e2e2e2
*/

body{
    margin: 0;
}

.header .top-nav-strip{
    background-color: #33a137;
    padding: 0 24px;
    display: flex;
    justify-content: space-between;
}
.header .top-nav-strip ul{
   margin: 0;
   padding: 0;
   display: flex;
   align-items: center;
}
.header .top-nav-strip ul li{
   list-style-type: none;
   margin: 8px;
}
.header .top-nav-strip ul li a{
   text-decoration: none;
   color: #ffffff;
   text-transform: uppercase;
}
.header .top-nav-strip ul li a img{
   width: 20px;
}
.header .top-nav-strip ul li div{
    position: relative;
 }
.header .top-nav-strip ul li div img{
   width: 15px;
   position: absolute;
   top: 50%;
   right: 10px;
   transform: translateY(-50%);
}
.header .top-nav-strip ul li input{
   background-color: transparent;
   border: 0;
   border: 2px solid #fff;
   height: 20px;
   border-radius: 6px;
}
.header .top-nav-strip ul li input:focus-visible{
    outline: none;
}

